.container-img {
    background-image: url(../../imgs/dish1.png);
    max-width: 100%;
    min-height: 768px;  
}

.btn-curved {
    display: inline-flex;
    background: var(--clr-yellow);
    border: solid;
    border-radius: 0.5rem;
    border-color: var(--clr-yellow);
    color: var(--clr-black);
    text-decoration: none;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    transition: .5s;
}

.btn-curved:hover {
    background: transparent;
}

.icon-link {
    color: var(--clr-black);
}

.icon-link:hover {
    color: var(--clr-yellow);
}

.card {
    display: inline-flex;
    background: var(--clr-grey-4);
    border-radius: .5rem;
    color: var(--clr-black);
    text-decoration: none;
    border: none;
    width: 124px;
    word-wrap: break-word;
}

.card:hover {
    background: var(--clr-yellow);
    color: var(--clr-black);
}

.card-variant {
    display: inline-flex;
    background: var(--clr-grey-4);
    border-radius: .5rem;
    text-decoration: none;
    color: var(--clr-black);
    word-wrap: break-word;
}

.card-variant:hover {
    background: var(--clr-yellow);
    color: var(--clr-black);
}

.card-recipe{
    word-wrap: break-word;
    max-width: 295px;
}

.img-card-recipe{
    overflow: hidden;
    width: 295px;
    height: 295px;   
}

.circle {
    width: 50px;
    height: 50px;
    background: var(--clr-grey-1);
    border-radius: 50%;
}

.circle-variant {
    width: 25px;
    height: 25px;
    background: var(--clr-grey-1);
    border-radius: 50%;
}

.circle-profile {
    display: inline-flex;
    width: 200px;
    height: 200px;
    background: var(--clr-white);
    border-radius: 50%;
}

.profile-badge {
    width: 800px;
    background: var(--clr-grey-1);
    border-radius: 0.5rem;
    padding: 2rem;
}

.list-link {
    color: var(--clr-black);
    text-decoration: none;
}

.list-link:hover {
    color: var(--clr-grey-3);
}

.arrow-link {
    transform: scale(1.7);    
    color: var(--clr-black);
    text-decoration: none;
}

.slide-arrow {
    border: none;
    background: none;
}

.header-admin {
    background: var(--clr-grey-4);
}

.container-grey {
    display: flex;
    flex-direction: column;
    max-width: 529px;
    background: var(--clr-grey-1);
    border-radius: .5rem;
    position: relative;
    /*text-decoration: none;*/
    color: var(--clr-black);
    /*word-wrap: break-word;*/
}


@media (max-width: 576px) {  
    
    .container-img {
        background: none;        
    }
    .container-grey {
        background: none;
    }
    
}

@media (max-width: 992px) {   

    .container-img {
        background: none;        
    }

    .container-grey {
        background: none;
    }    
}